<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingmay.cc"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:name=".app.CCApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginPage"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.chat.FriendsCircle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.chat.ChatPage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.xmpp.client.FormFiles" />
        <activity android:name="com.tencent.weibo.sdk.android.component.Authorize" />

        <service
            android:name=".service.CCService"
            android:exported="false" >
            <intent-filter>
                <action android:name="CC_CHAT_LOGIN"/>
            </intent-filter>
        </service>
    </application>

</manifest>